@fontColor: darkgoldenrod;
@navFontColor : white;
#flexAlign() {
	display: flex;
	justify-content: center;
	align-content: center;
}
* {
	padding: 0;
	margin: 0;
}
.selected {
	color: @fontColor;
	background-color: beige;
}
html {
	position: relative;
	min-height: 100%;
}
body {
	margin: 0;
	margin-bottom: 40px;
	padding: 0;
	font-family: cursive;
	background-color: aliceblue;
}
img {
	max-width: 100%;
	//	height: auto;
}
article {
	word-break: break-all;
	word-wrap: break-word;
	margin: 0 10px;
}
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
	color: @fontColor;
	background-color: black;
	text-align: center;
	vertical-align: middle;
	padding-top: 20px;
}

/* Slider Animation*/

@-webkit-keyframes sliderAnim {
	0% {
		background-image: url('img/slider-1.jpg');
		background-size: cover;
	}
	25% {
		background-image: url('img/slider-2.jpg');
		background-size: cover;
	}
	50% {
		background-image: url('img/slider-3.jpg');
		background-size: cover;
	}
	75% {
		background-image: url('img/slider-4.jpg');
		background-size: cover;
	}
	100% {
		background-image: url('img/slider-5.jpg');
		background-size: cover;
	}
}
@keyframes sliderAnim {
	0% {
		background-image: url('img/slider-1.jpg');
		background-size: cover;
	}
	25% {
		background-image: url('img/slider-2.jpg');
		background-size: cover;
	}
	50% {
		background-image: url('img/slider-3.jpg');
		background-size: cover;
	}
	75% {
		background-image: url('img/slider-4.jpg');
		background-size: cover;
	}
	100% {
		background-image: url('img/slider-5.jpg');
		background-size: cover;
	}
}

/*------------------------Global CSS--------------------------------*/

header {
	background-color: black;
	float: left;
	padding: 4px 0;
	h1 {
		padding: 0 10px;
		a {
			text-decoration: none;
			&:hover {
				color: @fontColor;
			}
			&:visited {
				color: @fontColor;
			}
			&:selected {
				color: @fontColor;
			}
		}
	}
}
nav {
	background-color: black;
	color: @navFontColor;
	ul {
		#flexAlign;
		justify-content: flex-end;
		li {
			overflow: hidden;
			list-style-type: none;
			display: inline-block;
			padding: 15px;
			cursor: pointer;
			width: 100px;
			text-align: center;
			font-size: 1em;
			border-left: 2px solid @navFontColor;
		}
	}
}
main {
	color: @fontColor;
	section {
		&:first-child {
			padding: 0;
			p.slider {
				width: auto;
				height: 500px;
				-webkit-animation: sliderAnim 25s infinite;
				animation: sliderAnim 25s infinite;
			}
		}
		padding: 10px;
		ul {
			padding: 10px;
			margin: 10px auto 30px;
			#flexAlign;
			list-style-type: none;
			li {
				#flexAlign;
				flex-flow: row wrap;
				img {
					cursor: pointer;
				}
			}
		}
		.bookTicket {
			li {
				padding: 0 10px;
				word-break: break-all;
			}
		}
	}
}
.newDest {
	img {
		padding: 50px;
		webkit-transition: all 200ms ease-in;
		-webkit-transform: scale(1);
		-ms-transition: all 200ms ease-in;
		-ms-transform: scale(1);
		-moz-transition: all 200ms ease-in;
		-moz-transform: scale(1);
		transition: all 200ms ease-in;
		transform: scale(1);
	}
	img:hover {
		z-index: 100;
		-webkit-transition: all 200ms ease-in;
		-webkit-transform: scale(1.5);
		-ms-transition: all 200ms ease-in;
		-ms-transform: scale(1.5);
		-moz-transition: all 200ms ease-in;
		-moz-transform: scale(1.5);
		transition: all 200ms ease-in;
		transform: scale(1.7);
	}
}
.rocket {
	top: 0;
	left: 0;
	height: 80px;
	&:hover {
		opacity: 0;
		transition: opacity 0.4s ease 0.2s;
		animation-name: rocketAnim;
		animation-duration: 700ms;
		animation-delay: 0ms;
		animation-fill-mode: forwards;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		transform-origin: 0 0;
	}
}
.train {
	height: 80px;
	&:hover {
		animation-name: trainAnim;
		animation-duration: 1000ms;
		animation-delay: 0ms;
		animation-fill-mode: forwards;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		transform-origin: 0 0;
	}
}
.modalDialog {
	position: fixed;
	font-family: cursive;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.9);
	z-index: 99999;
	opacity: 0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity: 1;
	pointer-events: auto;
}
.modalDialog > div {
	width: 40em;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: 0;
	text-align: center;
	top: -16px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close:hover {
	background: #00d9ff;
}
.bell {
	position: relative;
	cursor: pointer;
	top: -22px;
	left: -15px;
	height: 80px;
	&:hover {
		animation-name: bellAnim;
		animation-duration: 100ms;
		animation-delay: 0ms;
		animation-fill-mode: forwards;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		transform-origin: 0 0;
	}
}
.bkTkt {
	float: left;
}
@keyframes rocketAnim {
	0% {
		transform: translateX(30px) translateY(46px) rotate(0deg) translate(-50%, -50%);
		animation-timing-function: cubic-bezier(.25, .25, .75, .75);
	}
	100% {
		transform: translateX(150px) translateY(-90px) rotate(0deg) translate(-50%, -50%);
	}
}
@keyframes trainAnim {
	0% {
		transform: translate(-75px, 40px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);
		animation-timing-function: cubic-bezier(.25, .25, .75, .75);
	}
	100% {
		transform: translate(175px, 40px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);
	}
}
@keyframes bellAnim {
	0% {
		transform: translateX(40px) translateY(40px) rotate(0deg) translate(-50%, -50%);
		animation-timing-function: cubic-bezier(.25, .25, .75, .75);
	}
	100% {
		transform: translateX(50px) translateY(40px) rotate(0deg) translate(-50%, -50%);
	}
}

/*-------------------------------------------------------------------*/


/*Desktop*/

@media screen and (min-width:640px) and (max-width:1600px) {
	nav {
		ul {
			#flexAlign;
			display: flex!important;
			justify-content: flex-end;
		}
	}
}

/*Mobile/Tablet*/

@media screen and (min-width:120px) and (max-width:640px) {
	body {
		position: relative;
		font-size: 1.2rem;
		min-width: 330px;
		max-width: 100%;
		margin: 0;
		header {
			display: block;
			background-color: black;
			width: 100%;
			h1 {
				padding: 0 10px;
				a {
					text-decoration: none;
					&:hover {
						color: @fontColor;
					}
					&:visited {
						color: @fontColor;
					}
					&:selected {
						color: @fontColor;
					}
				}
				span {
					content: " ";
					border: 2px solid darkgoldenrod;
					width: 34px;
					display: inline-block;
					height: 0px;
					position: relative;
					float: right;
					top: 15px;
					cursor: pointer;
					&:after {
						content: " ";
						border: 2px solid darkgoldenrod;
						width: 34px;
						display: inline-block;
						height: 0px;
						position: relative;
						top: -75px;
						left: -2px;
					}
					&:before {
						content: " ";
						border: 2px solid darkgoldenrod;
						width: 34px;
						display: inline-block;
						height: 0px;
						position: relative;
						top: -31px;
						left: -2px;
					}
				}
			}
		}
		nav {
			ul {
				display: none;
				box-sizing: border-box;
				li {
					box-sizing: border-box;
					border: 0;
					display: inline-block;
					list-style-type: none;
					padding: 5px 12px;
					width: 100%;
					text-align: left;
					margin: 0;
					cursor: pointer;
				}
			}
		}
		main {
			section {
				&:first-child {
					p.slider {
						height: 250px;
						width: auto;
					}
				}
				padding-bottom: 20px;
				ul {
					display: block;
					li {
						display: flex;
						list-style-type: none;
						padding: 5px;
						width: 100%;
						text-align: left;
						margin: 0;
						cursor: pointer;
						img {
							width: 350px;
							height: 200px;
						}
					}
				}
				.rocket,
				.train,
				.bus {
					width: auto;
					height: 80px;
				}
			}
		}
	}
	.modalDialog > div {
		width: 17em;
		position: relative;
		margin: 10% auto;
		padding: 5px 20px 13px 20px;
		border-radius: 10px;
	}
	.newDest {
		img {
			padding: 50px;
			transition: all 200ms ease-in;
			transform: scale(1);
		}
		img:hover {
			z-index: 100;
			transition: all 200ms ease-in;
			transform: scale(1.2);
		}
	}
}
